@import url(https://fonts.googleapis.com/css?family=Work+Sans:300, 600);

body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  background-size: cover;
}

.quixMainContainer {
  background: black;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box;
  background-position: 20%;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.firstContainer {
  height: 100vh;
  width: 35%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 0px;
}
.chess {
  width: 15%;
}
.list {
  list-style: square;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 1px;
}
.easy {
  background: white;
  width: auto;
  color: black;
  text-align: center;
  cursor: pointer;
}
.easy:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}
.type {
  font-weight: 800;
  padding: 0 2rem;
}
.quizStrength {
  display: none;

  justify-content: space-around;
  top: 50%;
  left: 70%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  width: 50%;
}
.space {
}
.startBtn {
}
.QuizContainer {
  display: none;
  top: 50%;
  left: 70%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  width: 50%;
}
.joblogo {
  top: 50%;
  left: 70%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  width: 50%;
  font-size: 3rem;
  font-weight: 800;
  display: block;
}
.quiz {
  text-align: left;
  animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px, 0px);
  }
}
.icons {
  color: white;
}
.YesNo {
  display: none;
}
#leaveStatement {
  color: red;
  display: none;
  font-weight: 800;
}
.leaveDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cancelYes {
  margin-right: 10px;
}
.Yes,
.No {
  cursor: pointer;
}
h1 {
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.question {
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}
button {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  background-color: green;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  background-color: rgb(4, 80, 4);
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide {
  opacity: 1;
  z-index: 2;
}
.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.btn {
  display: flex;
  justify-content: space-around;
}
.disable {
}
.disabledBtn {
}
.disabledBtn:disabled {
  background: red;
}

.reviewTag {
  display: none;
  font-size: 2rem;
  color: green;
  text-decoration: none;
  font-weight: 900;
}
.reviewTag:hover {
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 768px) {
  .QuizContainer {
    width: 90%;
  }

  .btn {
    margin-top: 20px;
  }
}
@media (max-width: 512px) {
  button {
    font-size: 10px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
  }
  .btn {
    margin-top: 70px;
  }
}

#progressBar {
  width: 100%;
  height: 25px;
  border: 2px solid white;
}

#myBar {
  width: 20%;
  height: 25px;
  background-color: green;
}
