#review{
   
    width: 60%;
    margin:0 auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    }

    .slide{
        margin: 10px 0px;
    }
    label{
        display:flex;
    }
    .Correctanswer{
        background: black;
        color: white;
        padding: 10px;
        width: 19%;
    }
    .reviewInput{
        margin: 5px;
    }
    nav{
        width: 95vw;
        background: black;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 12px;
    }
    nav a{
        color: white;
        text-decoration: none;
    }